{% extends 'base.html' %}

{% block header_text %}To-Do list{% endblock %}

{% block owner_text %}{{ list.owner.email }}{% endblock %}

{% block form_action %}{% url 'view_list' list.id %}{% endblock %}

{% block sharing %}
<form class="form"
      method="POST"
      action="{% url 'share_list' list.id %}">
  <span>Share list with:</span>
  <input class="form-control"
	 name="sharee"
	 type="text"
	 placeholder="your-friend@example.com"/>
  {% csrf_token %}
</form>
<u1>
  {% for sharee in list.shared_with.all %}
  <li class="list_sharee">{{ sharee.email }}</li>
  {% endfor %}
</u1>
{% endblock %}

{% block table %}
<table id="id_list_table" class="table">
  {% for item in list.item_set.all %}
  <tr><td>{{ forloop.counter }}: {{ item.text }}</td></tr>
  {% endfor %}
</table>
{% endblock %}
